*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#615dad, #fec8da);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ffffff;
}

.uvod {
  display: flex;
  flex-direction: column;
  background-color: #283e50;
  width: 350px;
  border-radius: 10px 10px 0px 0px;
  padding: 0px 0px;
  margin: 30px 0px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.foto {
  width: 350px;
  border-radius: 10px 10px 0px 0px;
}

.hlavicka {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 18px;
  letter-spacing: 2px;
}

.text {
  padding: 0 10px;
  margin-bottom: 20px;
  word-spacing: 2px;
  line-height: 150%;
}

a {
  display: block;
  width: 100%;
  height: auto;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 0px;
  margin: 0px;
}

.prvniTlacitko {
  border-bottom: 1px solid #283e50;
  background-color: #1fcca4;
}

.druheTlacitko {
  background-color: #0197f6;
}

a.prvniTlacitko:hover {
  background-color: #1cbb96;
}

a.druheTlacitko:hover {
  background-color: #0090e9;
}

/*tady konci vseobecne nastaveni a index.html*/

.instrukce {
  background-color: #283e50;
  border-radius: 10px 10px 0px 0px;
  padding: 0px 0px;
  margin: 30px 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
  min-height: 100%;
  max-width: 600px;
  min-width: 340px;
}

.cross,
.circle {
  filter: invert(100%);
  width: 1em;
  height: 1em;
}

.fotoPravidla {
  width: 100%;
  min-width: 300px;
}

.textPravidla {
  text-align: left;
  font-style: normal;
  padding: 0 10px;
  margin-bottom: 20px;
  word-spacing: 2px;
  line-height: 150%;
}

.tahy {
  margin-bottom: 20px;
  font-style: italic;
}

figure {
  padding: 10px 10px 10px 10px;
  margin: 0px;
}

@media screen and (min-width: 540px) {
  .instrukce {
    max-width: 800px;
  }

  .tahy {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .tahy figure {
    flex-basis: calc(50% - 40px - 40px);
  }
}

/*tady konci pravidla.html*/

.hra {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hraje {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80vmin;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: bold;
  padding: 5px;
  flex-shrink: 1;
}

.hraje a {
  padding: 0px;
  display: inline;
}

.hraje p {
  margin: 0px;
}

.home {
  background-color: #1fcca4;
  padding: 2px;
  width: 2em;
  height: 2em;
  border-radius: 5%;
}

.restart {
  background-color: #0197f6;
  padding: 2px;
  width: 2em;
  height: 2em;
  border-radius: 5%;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 80vmin;
}

.grid button {
  width: calc(100% / 10);
  height: 6vmin;
  opacity: 0.6;
  border-radius: 0%;
  border: 1px solid black;
  margin: 0px;
  padding: 1px;
}

.grid button:focus,
.grid button:hover {
  opacity: 80%;
}
